@media screen and (max-width: 695px) {
  .box2 h2{
    font-size: 1.5rem;
  }
  .box2 button{
    width: 70px !important;
    height: 40px;
    font-size: 20px !important;
  }
}
@media screen and (max-width: 430px) {
  .custom-player {
    width: 100px;
  }
}
